.custom-select {
    position: relative;
    font-family: Arial;

    select {
        display: none;
    }

    .select-selected {
        background-color: #ffffff;
        color: #272733;
        padding: 12px 10px;
        border: 1px solid transparent;
        border-radius: 3px;
        text-align: left;
        cursor: pointer;

        &:after {
            position: absolute;
            content: "";
            top: 20px;
            right: 10px;
            width: 9px;
            height: 8px;
            background: url('arrow.svg');
            transform: rotate(180deg);
        }

        &.select-arrow-active:after {
            transform: rotate(0);
        }
    }

    .select-items {
        border-radius: 3px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        max-height: 170px;
        overflow: auto;
        border: 1px solid rgba(61, 64, 80);
        border-radius: 3px 3px 0 0;

        div {
            color: #fff;
            padding: 8px 10px;
            cursor: pointer;
            background: #272733;
            font-size: 16px;
            line-height: 18px;
            text-align: left;

            &:hover {
                color: #43ABF0;
            }
        }
    }

    .select-hide {
        display: none;
    }

    .same-as-selected {
        color: #43ABF0;
    }

    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(61, 64, 80);
    }

    ::-webkit-scrollbar-thumb {
        background: #42A9ED;
        height: 53px;

        &:hover {
            background: #286690;
        }
    }
}